.gallery,
.galleryShapes{
    min-height: 100vh;
    width: 100%; 
    background-color: $darkColor;

    background: linear-gradient(170deg,
                 rgba(21,23,26,1) 0%, rgba(21,23,26,1) 70%,     
                 rgba(160,59,28,1) 70%, rgba(160,59,28,1) 100%);
}

.galleryContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    justify-items: center;
    align-items: center;
    height: 100%;
    padding: 8vh 0 8vh 0;
        h3{
            grid-column: 1/ 14;
            grid-row: 1/ 5;
            align-self: start;
            justify-self: left;
            font-size: 7rem;
            padding: 0;
            padding-bottom: 8%;
            margin:0;
            & span:first-of-type{ 
                color: $secondaryDarkGrey;
            }
            & span:last-of-type{
                color: $primaryLightGrey;
            }
        }
}

.imageContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 8vw;
    grid-column: 1/ 14;
    grid-row: 5/ 8;
    justify-items: center;
    align-items:start;
    width: 100%;
    height: 100%;
    padding: 0;
}

.artWorks {
    background-color: $secondaryDarkGrey;
    position: relative;
    align-self: center;
    max-width: 300px;
    width: 100%;
    height: 300px;
    list-style: none;
}

img {
    height: 100%;
    width: 100%;
    // display: block;
    // margin: 0 auto;
    object-fit: cover;
}

.selected {
    border: 5px solid red;
}

.notSelected {
    border: 5px solid blue;
}

.infoOverlay{
    display: none;
}


// .galleryContainer li:hover .infoOverlay{
//     // height: 100%;
//     // width: 100%;
//     display: flex;
//     position: absolute;
//     z-index:20;
//     left:0;
//     right:0;
//     top:0;
//     bottom:0;
//     color: $darkColor;
//     background-color: $darkColor;
//     opacity: 100%;
// }
