.gallery {
    background-color: $darkColor; //fallback
    background: linear-gradient(170deg,
                 rgba(21,23,26,1) 0%, rgba(21,23,26,1) 70%,     
                 rgba(160,59,28,1) 70%, rgba(160,59,28,1) 100%);
}

.galleryHidden {
    display: none;
}

.galleryContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    padding: 5vh 0 0 0;
        h3{
            grid-column: 1/ 14;
            grid-row: 1/ 3;
            align-self: center;
            justify-self: left;
            font-size: 7rem;
            padding: 0;
            // padding-bottom: 8%;
            margin:0;
            & span:first-of-type{ 
                color: $secondaryDarkGrey;
            }
            & span:last-of-type{
                color: $primaryLightGrey;
            }
        }
}

.imageContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 5%;      
    grid-column: 1/ 14;
    grid-row: 4/ 12;     
    justify-items: center;
    align-items: center;
    width: 100%;
    min-height: 70vh;
    height: 100%;
    padding: 0;
}

// Image Styling on Display
.artWorks {
    background-color: $darkColor;
    justify-self: center;
    align-self: center;     
    position: relative;
    max-width: 300px;
    width: 100%;
    height: 300px;
    list-style: none;
    margin: 60px 0px 20px 0;
    transition: 0.5s all ease;
    // margin-bottom: 40px;
    img {
        border: 5px solid transparent;
        height: 100%;
        width: 100%;
        display: block;
        object-fit: cover;
        transition: 0.4s all ease;
    }
}

// Image Overlay Elements
.artWorks {   
    .mask {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 0.5s all ease;
        background-color: $descriptionOverlayColor;
    }
    .descriptionOfArt {
        display: inline-block;
        color: $primaryLightGrey;
        text-align: center;
        position: absolute;
        // margin: 50px auto;
        padding: 0 30px;
        font-size: 1.5rem;
        line-height: 25px;
        left: 0px;
        top: 0%;
        opacity: 0;
        transition: 0.8s all ease;
    }
    .linkToArtContainer {
        padding-top: 15px;
        .linkToArt {
            display: inline-block;
            text-transform: uppercase;
            font-size: 1.8rem;
            // font-weight: 700;
            line-height: 25px;
            color: $primaryLightGrey;
            text-align: center;
            transition: 0.4s all ease;
        }
    }
    .userWarningContainer {
        text-transform: uppercase;
        font-weight: 700;
        color: $primaryLightGrey;
        text-align: center;
    }
}

//Image Hover and Active states
.artWorks:hover {
    .descriptionOfArt {
        opacity: 1;
        top: 35%;
    }
    .mask {
        opacity: 1;
        transform: scale(1.025);
    }
    img {
        transform: scale(1.05);
    }
    .linkToArt {
        font-size: 1.95rem;
    }
}
.artWorks:active {
    .mask {
        opacity: 1;
        filter: blur(0px);
    }
    img {
        border: 5px solid $accentColor;
        filter: blur(0px);
        transform: scale(1.07);
    }
    .linkToArt {
        font-size: 1.7rem;
    }
}

// On selection, border color change
.selected {
    border: 5px solid $accentColor;
}

// Styling user option instructions
.userOptions{
    grid-column: 1/ 14;
    grid-row: 3/ 4;
    align-self: start;
    justify-self: left;
    width: 100%;
        p {
            display:inline-block;
            font-family: $secondaryFont;
            font-size: 2.4rem;
            font-weight: 700;
            text-transform: uppercase;
            color: $secondaryDarkGrey;
            line-height: 0;
            padding: 0;
        }
            & :nth-of-type(1){
                padding-right: 5%;
            }        
}

.searchContainer{
    grid-column: 1 / 14;
    grid-row: 13 / 14;
    align-self: center;
    width: 100%;
    display: flex;
}

.searchButton {
    margin: 0 auto;
    margin-bottom: 5vh;
}