// Global Styles
html {
    font-size: 62.5%;
}

body {
    font-family: $secondaryFont;
}

//  TEXT STYLING
h1 {
    font-family: $primaryFont;
    font-weight: 500;
    letter-spacing: .4rem;
    text-transform: uppercase;
    color: $darkColor;
    font-size: 21.8rem;
    padding: 0;
    margin: 0;
        span {
            color: $accentColor;
            margin: 0 -8rem;
        }
}


h2 {
    font-size: 6.5rem;
    text-transform: uppercase;
    font-weight: 400;
}


p {
    font-size: 2.5rem;
    line-height: 40px;
}

// Corrected the wrapper behaviour
.wrapper {
    margin: 0 auto;
    width: 1440px;
    max-width: 90%;
}

.hidden {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.border {
    border: 1px solid $secondaryDarkGrey;
}

