//h1 styling
h1 {
    display: inline;
    font-family: $primaryFont;
    font-weight: 500;
    letter-spacing: .4rem;
    text-transform: uppercase;
    color: $darkColor;
    font-size: 14.4rem;
    padding: 0;
    margin: 0;
        .h1Brackets {
            color: $accentColor;
            font-size: 144px;
            margin: 0 -5rem;
            vertical-align: baseline;
        }
}

// h2 styling