// HEADER Styles
header {
    // width: 100%;
    // height: 100vh;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 65%;
    
    // Background image OLder Browser Prefixes and support
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#15171a",endColorstr="#ffffff",GradientType=1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#15171a",endColorstr="#ffffff",GradientType=1), url(../assets/headerBackground5.jpg);

    background-image: -o-linear-gradient(30deg, 
                        rgba(21,23,26,0.80) 0%, rgba(21,23,26,0.60) 50%,
                        rgba(255,255,255,0.60) 50%, rgba(255,255,255,0.90) 100%), 
                        url(../assets/headerBackground5.jpg);
    background-image: -moz-linear-gradient(60deg, 
                        rgba(21,23,26,0.80) 0%, rgba(21,23,26,0.60) 50%,
                        rgba(255,255,255,0.60) 50%, rgba(255,255,255,0.90) 100%), 
                        url(../assets/headerBackground5.jpg);
    background-image: -webkit-linear-gradient(60deg,
                        rgba(21,23,26,0.80) 0%, rgba(21,23,26,0.60) 50%,
                        rgba(255,255,255,0.60) 50%, rgba(255,255,255,0.90) 100%), 
                        url(../assets/headerBackground5.jpg);
    background-image: linear-gradient(60deg, 
                        rgba(21,23,26,0.80) 0%, rgba(21,23,26,0.60) 50%,
                        rgba(255,255,255,0.60) 50%, rgba(255,255,255,0.90) 100%), 
                        url(../assets/headerBackground5.jpg);
    
    // Photo by federico passi on Unsplash - headerBackground5.jpg
}


.headerContainer{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    justify-items: right;
    align-items:center;
    z-index: 2;
    position:relative;
    // width: 100%;
    height: 100vh;
    padding: 15vh 0 7vh 0;
}

h1{
    grid-column: 1 / 14;
    grid-row: 2 / 3;
    align-self: start;
    margin-top: -2%;
        & span {
            color: $accentColor;
            margin: 0 -8rem;

        }
}

.h2WUnderline {
    grid-column: 1/ 14;
    grid-row: 1 / 2;
    h2{
        color: $secondaryDarkGrey;
        margin: 0;
        padding: 0;
        margin-bottom: .5rem;
    }
    .lineGraphic {
        justify-self: center;
        align-self: center;
        background-color: $accentColor;
        height: .2rem;
        width: 50%;
        margin: 0 auto;
    }
}

.browseButton{
    grid-column: 5 / 9;
    grid-row: 12 / 13;
    justify-self: center;
    align-self: center;
    margin: 0;
    padding: 0;
    color: $darkColor;
    background-color: #6d6d6d64;
    border: 1px solid $darkColor;
    -o-transition: all .4s cubic-bezier(.6,.01,.85,.75);
    transition: all .4s cubic-bezier(.6,.01,.85,.75);
    color: $darkColor;
    // margin: -.3rem;
    // padding: 0.1rem .8rem 0rem .8rem;
        h4{
            color: $darkColor;
            margin: -.3rem;
            padding: 0.1rem .8rem 0rem .8rem;
        }
        &:hover,
        &:focus-within {
            background-color: $darkColor;
            font-weight: 400;
            border: 1px solid $primaryLightGrey;
        } 
        &:hover h4,
        &:focus-within h4{
            color:  $primaryLightGrey;
            font-weight: 400;
        }        
}
