//Media Queries

@media (max-width: 1366px) {
    // Global
    h1{
        font-size: 19rem;
        margin-top: -3%;
    }
    h2{
        font-size: 5.5rem;
    }
    
    // Enter & Start Button
    h4 {
        font-size: 2.8rem;
    }

    // Description Section
    .description .descriptionContent .bigger {
        font-size: 4.8rem;
    }
    p{
        font-size: 2rem;
        line-height: 30px;
        margin: 15px 0;
    }
    .description .descriptionContent .descriptionCredit p {
        font-size: 1.6rem;
    }

    // DropDown
    .selectButton {
        font-size: 3.6rem;
        letter-spacing: 0.3rem;
    }
    .option {
        font-size: 5rem;
    }
    .option:hover {
        font-size: 5.8rem;
    }
    .selectButton::after {
    content: '▶';
    font-size: 2.8rem;
    margin-left: 15px;
    vertical-align: 10%;
}

    // Gallery Section
    .galleryContainer h3 {
        font-size: 5.8rem;
        justify-self: center;
    }
    .artWorks {
    max-width: 380px;
    min-width: 300px;
    height: 350px;
    margin: 0 0 30px 0;
    }
    .displayUserOptions a {
        font-size: 2rem;
        margin: 3px 0;
        text-align: center;
    }
}


@media (max-width: 1133px) {
    // Gallery Section
    .galleryContainer h3 {
        font-size: 5.6rem;
        justify-self: center;
        text-align: center;
        padding-bottom: 4%
    }
    .imageContainer {
    min-height: 60vh;
    padding-bottom: 80px;
}
    .artWorks {
        margin: 10px 0 15px 0;
    }
    .displayUserOptions a {
        font-size: 2rem;
        margin: 3px 0;
        text-align: center;
    }
}


@media (max-width: 980px) {
        // Global
    .headerContainer {
        justify-items: center;
    }
        h1{
        margin-top: -4%;
    }

    .optionsBox {
        width: 70%;
    }
    .underline {
        width: 300px;
    }
}

@media (max-width: 768px) {
    // Global
    h1{
        font-size: 15rem;
                span {
            margin: 0 -6rem;
        }
    }
    h2{
        font-size: 4.4rem;
    }

    // Enter & Start Button
    h4 {
        font-size: 2.4rem;
    }

    // Description Section
    .description .descriptionContent .bigger {
        font-size: 4.8rem;
    }
    p{
        font-size: 1.8rem;
        line-height: 25px;
        margin: 12px 0;
    }
    .description .descriptionContent .descriptionCredit p {
        font-size: 1.4rem;
    }
    
    // DropDown
    .selectButton {
        font-size: 2.5rem;
        letter-spacing: 0.2rem;
        padding: 5px 15px;
    }
    .option {
        font-size: 4.4rem;
    }
    .option:hover {
        font-size: 4.8rem;
    }
    .optionsBox {
        width: 70%;
        margin-top: 10px;
    }

    .selectButton::after {
    content: '▶';
        font-size: 2rem;
        // margin-left: 15px;
        // vertical-align: 10%;
    }
    .underline {
        width: 300px;
    }

    .galleryContainer h3 {
        font-size: 4rem;
        justify-self: center;
        padding-bottom: 4%;
    }

    .artWorks {
        margin: 0 0 15px 0;
        max-width: 320px;
        min-width: 280px;
        width: 100%;
        height: 300px;
    }
    .displayUserOptions a {
        font-size: 1.8rem;
        margin: 2px 0;
        text-align: center;
    }

}


@media (max-width: 480px){
    h1{
        font-size: 10.6rem;
                span {
            margin: 0 -5.1rem;
        }
    }
    .h2WUnderline h2{
        text-align:center;
        font-size: 4.8rem;
    }

        // DropDown
    .selectButton {
        font-size: 2.3rem;
        letter-spacing: 0rem;
        padding: 5px 12px;
    }
    .option {
        font-size: 4.4rem;
    }
    .option:hover {
        font-size: 4.8rem;
    }
    .optionsBox {
        width: 86%;
        margin-top: 10px;
    }

    .selectButton::after {
    content: '▶';
        font-size: 2rem;
        margin-left: 15px;
        vertical-align: 10%;
    }
    .underline {
        width: 280px;
    }

    // Gallery Section
    .galleryContainer h3 {
        font-size: 3.6rem;
        justify-self: center;
        text-align: center;
        padding-bottom: 4%
    }
}


@media (max-width: 320px) {
    h1 {
        font-size: 10.5rem;
                span {
                    margin: 0 -5rem;;
                }
    }
    .h2WUnderline h2{
        font-size: 5rem;
        justify-self: center;
    }

    // DropDown
    .selectButton {
        font-size: 1.8rem;
        letter-spacing: 0rem;
        padding: 4px 4px;
    }
    .option {
        font-size: 4.4rem;
    }
    .option:hover {
        font-size: 4.8rem;
    }
    .optionsBox {
        width: 90%;
        margin-top: 10px;
    }

    .selectButton::after {
    content: '▶';
    font-size: 1.8rem;
    margin-left: 8px;
    vertical-align: 0%;
    }

    .underline {
        width: 250px;
    }
}


