.selection {
    min-height: 100vh;
    background-color: $darkColor;
}

.selectionBox {
    display: flex;
    flex-direction: column;
}

.selectButtonBox {
    align-self: center;
    margin-top: 25vh;
    transition: all ease 0.5s;
}

.smallerMargin {
    margin-top: 15vh;
}

.selectButton {
    font-size: 4.5rem;
    letter-spacing: 0.5rem;
    border: 1px solid $secondaryDarkGrey;
    padding: 5px 25px;
    cursor: pointer;
}

.selectButton::after {
    content: '▶';
    color: $primaryLightGrey;
    font-size: 3rem;
    display: inline-block;
    margin-left: 15px;
    transition: all 0.5s ease;
    vertical-align: 15%;
}

.selectButton:hover::after {
    transform: rotate(90deg);
}

.optionsBox {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 55%;
    margin-top: 20px;
    padding: 25px 0px;
}

.option {
    font-family: $primaryFont;
    margin: 10px 0px;
    font-size: 6rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.option:hover {
    font-size: 6.5rem;
}

.underline {
    height: 2px;
    width: 350px;
    background-color: $accentColor;
    display: inline-block;
    align-self: center;
}