.selection {
    height: 100vh;
    background-color: $darkColor;
    position: relative;
}

.selectionBox {
    // display: flex;
    // justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

