.displayUserOptions {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin-top: 20px;
    a {
        color: $primaryLightGrey;
        cursor: pointer;
        font-size: 2.3rem;
        margin: 5px 0;
        transition: 0.5s all ease;
        .fas {
            padding-right: 10px;
        }
    }
    a:hover {
        font-size: 2.6rem;
    }
}