// FONTS
$primaryFont: 'Playfair Display', serif;
$secondaryFont:'Montserrat', sans-serif;

// COLORS
$accentColor: #A03B1C;
$darkColor: #15171A; 
$primaryLightGrey: #AEAEB3;
$secondaryDarkGrey: #6B686C;




// MIXINS
// @mixin circle($size: 50px, $color: $primaryColor){
//     // height & width are the same for circle
//     // $lightColor is default
//     width: #{$size}; 
//     height: #{$size};
//     background-color: #{$color}; 
//     border-radius: 50%;
//     text-align: center;
//     display: flex; //enabling vertical centering
//     flex-direction: column;
// }