@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  letter-spacing: .4rem;
  text-transform: uppercase;
  color: #15171A;
  font-size: 21.8rem;
  padding: 0;
  margin: 0;
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
}

h2,
h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 6.5rem;
  text-transform: uppercase;
  font-weight: 400;
}

h3 {
  font-size: 7rem;
  letter-spacing: normal;
  color: #A03B1C;
}

h4 {
  font-size: 3.2rem;
  font-weight: 300;
}

p {
  font-size: 2.5rem;
  line-height: 40px;
}

.wrapper {
  margin: 0 auto;
  width: 1440px;
  max-width: 90%;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.border {
  border: 1px solid #6B686C;
}

.selectButton,
.option {
  border: none;
  background-color: #15171A;
  color: #AEAEB3;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 65%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#15171a",endColorstr="#ffffff",GradientType=1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#15171a",endColorstr="#ffffff",GradientType=1), url(../assets/headerBackground5.jpg);
  background-image: linear-gradient(60deg, rgba(21, 23, 26, 0.8) 0%, rgba(21, 23, 26, 0.6) 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.9) 100%), url(../assets/headerBackground5.jpg);
}

.headerContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  justify-items: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  position: relative;
  height: 100vh;
  padding: 15vh 0 7vh 0;
}

h1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 13;
  grid-column: 1 / 14;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-top: -2%;
}

h1 span {
  color: #A03B1C;
  margin: 0 -8rem;
}

.h2WUnderline {
  -ms-grid-column: 1;
  -ms-grid-column-span: 13;
  grid-column: 1/ 14;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.h2WUnderline h2 {
  color: #6B686C;
  margin: 0;
  padding: 0;
  margin-bottom: .5rem;
}

.h2WUnderline .lineGraphic {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #A03B1C;
  height: .2rem;
  width: 50%;
  margin: 0 auto;
}

.browseButton {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  grid-row: 12 / 13;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0;
  padding: 0;
  color: #15171A;
  background-color: #6d6d6d64;
  border: 1px solid #15171A;
  -webkit-transition: all 0.5s cubic-bezier(0.6, 0.01, 0.85, 0.75);
  transition: all 0.5s cubic-bezier(0.6, 0.01, 0.85, 0.75);
  color: #15171A;
}

.browseButton h4 {
  color: #15171A;
  margin: -.3rem;
  padding: 0.1rem .8rem 0rem .8rem;
}

.browseButton:hover, .browseButton:focus-within {
  background-color: #15171A;
  font-weight: 400;
  border: 1px solid #AEAEB3;
}

.browseButton:hover h4,
.browseButton:focus-within h4 {
  color: #AEAEB3;
  font-weight: 400;
}

.description {
  min-height: 100vh;
  background: linear-gradient(170deg, #15171A 30%, #AEAEB3 17.5%, #AEAEB3 17.5%, #AEAEB3 17.5%, #AEAEB3 17.5%);
}

.description .descriptionHeading {
  padding-top: 15vh;
}

.description .descriptionHeading h2 {
  color: #AEAEB3;
}

.description .descriptionHeading h2 .highlight {
  color: #A03B1C;
}

.description .descriptionContent {
  padding: 15vh 25vh;
}

.description .descriptionContent .bigger {
  font-size: 5rem;
  font-weight: 700;
}

.description .descriptionContent .accent {
  color: #A03B1C;
  font-weight: 700;
}

.description .descriptionContent .italics {
  color: #A03B1C;
  font-weight: bolder;
}

.description .descriptionContent .descriptionCredit {
  margin-top: 60px;
}

.description .descriptionContent .descriptionCredit p {
  font-size: 1.8rem;
  margin: 0;
}

.selection {
  min-height: 100vh;
  background-color: #15171A;
}

.selectionBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.selectButtonBox {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 25vh;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.smallerMargin {
  margin-top: 15vh;
}

.selectButton {
  font-size: 4.5rem;
  letter-spacing: 0.5rem;
  border: 1px solid #6B686C;
  padding: 5px 25px;
  cursor: pointer;
}

.selectButton::after {
  content: '▶';
  color: #AEAEB3;
  font-size: 3rem;
  display: inline-block;
  margin-left: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  vertical-align: 15%;
}

.selectButton:hover::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.optionsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  width: 55%;
  margin-top: 20px;
  padding: 25px 0px;
}

.option {
  font-family: "Playfair Display", serif;
  margin: 10px 0px;
  font-size: 6rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.option:hover {
  font-size: 6.5rem;
}

.underline {
  height: 2px;
  width: 350px;
  background-color: #A03B1C;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.gallery
.galleryShapes {
  height: 100vh;
  width: 100%;
  background-color: #15171A;
}

.galleryShapes {
  z-index: 1;
  position: absolute;
}

.galleryShapes.bottomShape {
  background-color: #A03B1C;
  -webkit-clip-path: polygon(0 75%, 100% 50%, 100% 100%, 0 100%);
  clip-path: polygon(0 75%, 100% 50%, 100% 100%, 0 100%);
}

.galleryContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  justify-items: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  position: relative;
  height: 100vh;
  padding: 8vh 0 8vh 0;
}

.galleryContainer h3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 13;
  grid-column: 1/ 14;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  font-size: 7rem;
  padding: 0;
  margin: 0;
}

.galleryContainer h3 span:first-of-type {
  color: #6B686C;
}

.galleryContainer h3 span:last-of-type {
  color: #AEAEB3;
}

.imageContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -webkit-column-gap: 2vw;
          column-gap: 2vw;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 8vh 0 8vh 0;
}

.artWorks {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  z-index: 10;
  background-color: #6B686C;
  position: relative;
  min-width: 25vw;
  max-width: 300px;
  height: 400px;
}

.infoOverlay {
  display: none;
}

.galleryContainer li:hover .infoOverlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 20;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #15171A;
  background-color: #15171A;
  opacity: 100%;
}

.artWork img {
  width: 100%;
  display: block;
}

@media (max-width: 320px) {
  h1 {
    font-size: 10.5rem;
  }
  h1 span {
    margin: 0 -5rem;
  }
  h2 {
    font-size: 5.5rem;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
